[2017-09-15 15:45] nicozerr opened #3 "Table header (thead) ignored"
Hi.

When I try to create a table with top and/or left header, the generated HTML code has no th-tags, nor thead-tag.
The only way to have a top header is to create a table without header, edit the first row, and define it as a header.
For a left header, it's worst: I have to edit each cell and define it as a row header.
It worked before on TYPO3 7.6, when rtehtmlarea was into sysext.

A little vi

[2017-10-02 10:37] nicozerr commented on #3
Nobody can answer me ?

[2017-10-02 10:56] bmack commented on #3
AFAIK there was no change regarding the `<thead>` and `<th>` tags in RTEhtmlarea between 8.7 and 7.6. Is it the same configuration?

[2017-10-18 08:10] dnozdrin commented on #3
In the file /ext/rtehtmlarea/Resources/Public/JavaScript/Plugins/TableOperations.js on the line 1462 change
`var headers = params.f_headers;`
to
`var headers = params.typeof;`

[2017-10-19 07:47] nicozerr commented on #3
Wouhou ! It works now ! Thank you very much !

[2017-11-07 13:05] mmirsch opened #5 "Wrong Links for pageids"
When using pageIdSelector to enter TYPO3 page-ids directly, the generated links are not working any more.

I fixed this by entering these lines in "rtehtmlarea\Resources\Public\JavaScript\RteLinkBrowser.js":

        if (parseInt(input) == input) {
            input = 't3://page?uid=' + input;
        }

Here my Patch:

 `--- /typo3conf/ext/rtehtmlarea/Resources/Public/JavaScript/RteLinkBrowser.js

[2017-11-08 16:13] fnagel opened #6 "abbreviation / acronym selects are not populated"
Using TYPO3 8.7.8 and htmlarea 8.7.0 the abbreviation / acronym selects in the popup are not populated.
My configuration has not changed since TYPO3 7.6 and the temp JS files is written with the related records, but it seems the JS is not using it.

Any ideas?

[2017-11-14 21:25] astehlik opened #7 "Wrong language is used for image metadata"
When you add an image in a translated record the language of the metadata attached to that image (alt, title) should be read from the translated metadata of the file if available.

Currently the default language is always used.

This requires an API to retrieve translated file metadata in the Backend.

There is already a core issue that would make this possible:

https://forge.typo3.org/issues/750

[2017-12-16 16:17] ohader opened #9 "RTE does not work anymore in TYPO3 9"
`Call to undefined method TYPO3\CMS\Rtehtmlarea\Form\Element\RichTextElement::renderWizards()` due to `Deprecation: #78899 - FormEngine Methods` in TYPO3 9

[2018-01-05 17:12] alexkyzym opened #12 "Selectboxes bug in Chrome on MacOS"
On click on any select using Chrome under MacOS there is a bug that doesn't allow a user to select any option. Dropdown is closed instead immediately.
As a solution you may change
`Event.on(this.selectElement, 'click', function (event) { self.onTrigger(event); });`
in file rtehtmlarea/Resources/Public/JavaScript/HTMLArea/Toolbar/Select.js:103
to
`Event.on(this.selectElement, 'change', function (ev

[2018-01-25 14:42] nicozerr opened #14 "Block-style select disabled on Edge"
Hi.

The block-style select field is disabled, grayed, only on Edge (Windows 10) with TYPO3 7.6 and 8.7. Everything is fine on Chrome, Firefox and IE 11.

We tried the following things:

- "SetEnvIfNoCase Request_URI \.css$ no-gzip dont-vary" in .htaccess
- "mod_gzip_on No" and "mod_gzip_send_vary Off" in .htaccess (error 500)
- "GLOBALS['TYPO3_CONF_VARS']['BE']['compressionLevel'] = 0;" in LocalC

[2018-01-26 10:11] #3 closed

[2018-01-31 08:04] agendartobias opened #15 "Regenerate missing RTE magic image on rendering"
Hello, i have the same problem as here: https://forge.typo3.org/issues/56147

1. Insert a Magic Image in the RTE
2. "Look how nicely it is rendered on the FE"
3. Delete the image in processed directory
4. Reload the FE. Oh, a 404 image!
5. I can get rid of 404 Error if i save content again

Can you help me with this?

[2018-02-23 15:48] stevenMouret commented on #14
Hi Nicolas,

It seems that the problem is not with Gzip cache because it's about old versions of Internet Explorer 4/5/6.

Parser.js seems to be the cause.

[2018-02-27 09:48] stevenMouret commented on #14
Apparently, in the file Parser.js in the function Parser.prototype.parseStyleSheets the function this.parseRules have a CSS rules in parameter.
In Edge, the argument (CSS rules) in the function Parser.prototype.parseRules is empty.
Perhaps, there is a limit size for argument in Edge.

[2018-02-27 10:49] stevenMouret commented on #14
In fact it's the prototype cssRules that pauses problem. In Edge it is impossible to access to this function : "Permission denied". If you test styleSheet.cssRules, it is empty with Edge. I have test with Chrome and it's ok.

[2018-04-06 13:01] darthnorman opened #16 "File, mail and external Links in IE11 and Edge"
When inserting link into text, nothing happens.

What I do: Mark some text, click on link symbol, choose a file, click on generate link.
(It does work with 'Pages', which is odd.)
What happens: The whole paragraph gets marked but no link is inserted.

Version: TYPO3 8.7.12, rtehtmlarea 8.7.1

[2018-06-14 15:36] pserrer opened #17 "ContextMenu Position in Typo3 8"
In the current version of Typo3 8 the Context Menu is positioned on the wrong position.

It seems the position calculation inside ContextMenu.js isn't correct. I fixed it by changing line 229 to

    top: iframePosition.y + this.mousePosition.y - $(".module-body").scrollTop() - this.editor.iframe.document.body.scrollTop + 'px'

In addition to that, there's also a problem, if the path of your Typo3

[2018-07-05 12:28] zauni opened #18 "Page TSconfig overwrites my own page TSconfig"
Hi,

I have updated from TYPO3 7 to 8 and installed the rtehtmlarea extension, but now my "RTE.default.showButtons" configuration in my page TSconfig is overwritten by the TSconfig of this extension.

In a provider extension I have a `ext_localconf.php` where I load the page TSconfig with my RTE configuration:

[code]

I set the RTE.default.showButtons to for example `bold,italic,undo,redo,about,b

[2018-07-05 12:30] bmack commented on #18
Hi @zauni ,

ensure that your extension depends on EXT:RTEhtmlarea (via composer.json + ext_emconf.php), and ensure that it's loaded AFTER rtehtmlarea by checking your `typo3conf/PackageStates.php` file.

Hope that helps!

[2018-07-05 13:01] zauni commented on #18
Thanks @bmack !

Now it's working like a charm 👍

[2018-07-05 13:01] #18 closed

[2018-07-24 11:39] hannesbochmann opened #19 "handle absRefPrefix for image rendering"
If I have a RTE field which content is used for example in an external JS file (respectively in a variable inside of that file), all image links have relative paths even when absRefPrefix is configured. For RTE fields which are used in normal page content this is no problem as TypoScriptFrontendController::setAbsRefPrefix() takes care of prefixng the links with the absRefPrefix. For my example thi

[2018-09-21 07:59] darthnorman opened #22 "Insert table with heading cells does not work in T3 8.7"
Try to add a table with heading on top, it doesn't work. RTE will just add a plain table, no matter what you choose.
It does work in T3 7.6, though.

[2018-09-24 07:23] nicozerr commented on #22
Hi.

This should fix it: https://github.com/FriendsOfTYPO3/rtehtmlarea/issues/3

[2018-10-02 11:51] freshworkx commented on #16
I can confirm this behavior for TYPO3 8.7.19 / RteHtmlArea 8.7.1 in IE11 and Edge.
Also, if there is more than one Link, the JS-Selection goes wrong and update the first link instead of create a second new link. This behavior looks very similar to this one: https://forge.typo3.org/issues/84299

[2018-10-12 17:17] manuelLink opened #23 "setting exitHTMLparser_db not working anymore in 8.7"
the pagets-setting RTE.default.proc.exitHTMLparser_db seems to be nonfunctional in 8.7.1, i'm not sure if this is intentional or not.

[2019-01-15 14:37] novawebstar opened #25 "typo3 backend gets translated into syslang but backend text editor is still english"
After updating form typ3 version 6.7 to 7.6 the backend-editor is still working but does not get translated. All buttons and dialogs are still englisch.

The l10n files for the target language (german) are updated and in `typo3conf/l10n/de/rtehtmlarea`
`static_info_tables` and `static_info_tables_de` are installed.

Page TSconfig is:

[code]

[2019-01-16 10:03] blueamerican commented on #18
I have the same problem without an extension. I have the page ts config code in the root page.
This should normally overwrite the extension ts config.
But it doesn't.
Any suggestions?

Can this issue be reopened?

[2019-01-16 10:25] blueamerican commented on #18
i put my tsconfig in an extension.

[2019-02-27 11:34] foppelfb opened #26 "Regression with Chrome 73 in Typo3 7.6.32"
Effect of the Problem:
When viewed in a Chrome 73 (MacOS Version 73.0.3683.46 (Official Build) beta (64-bit)) the RTE displays an empty raw HTML Document.
The Javascript Console does not throw an error, last message pertaining the RTE is:
[HTMLArea.Editor::onFrameworkReady]: Editor ready.

Chrome 72 works as expected, so do recent Firefox and Safari

[2019-03-04 18:03] ohader commented on #16
Confirmed
* IE11
  + link to page (having another link in the same paragraph) links the whole paragraph (`<p>`)
  + link to external URL jumps to beginning of paragraph without setting link
* Edge
  + link to page(s) seems to be working (different to IE11 behavior)
  + link to external URL jumps to beginning of paragraph without setting link (same as IE11 behavior)

[2019-03-07 11:03] prdt3e opened #27 "HTMLArea is not defined"
Typo3: 8.7.20
rtehtmlarea: 8.7.1
Browser: Chrome (72.0.3626.121)

I have 6 editors on the page.
The first call works, then not more.
The bug is only in Chrome (72.0.3626.121).
It works in Firefox/IE.

It is reported:
HTMLArea is not defined HTMLArea.js: 125

Thanks

[2019-03-07 11:12] ohader commented on #27
Confirmed

[2019-03-10 00:11] prdt3e commented on #27
Puuuh that code is not easy.
HtmlArea and HTMLArea

[2019-03-13 09:43] ohader commented on #26
Confirmed in TYPO3 v8 as well...

[2019-03-13 10:21] bmack commented on #23
Hey Manuel,

thank you for your report. Can you please post your PageTS configuration and your installed extensions here? Then I can try to reproduce this issue.

Thanks.
Benni.

[2019-03-13 10:38] pschriner commented on #26
![Screenshot_2019-03-13_11-35-55](https://user-images.githubusercontent.com/2487207/54272665-69878700-4584-11e9-8e4f-a5f9bb2aba95.png)

For some reason chrome never loads the resources

When debugging (chrome://net-internals) I get

{"params":{"description":"","error_code":"8 (CANCEL)","stream_id":863},"phase":0,"source":{"id":13650,"type":9},"time":"112707070","type":191},

Which is not really he

[2019-03-13 10:50] kkugelmann commented on #26
+1 here

[2019-03-13 12:04] Geddo commented on #26
+1
Breaks my RTE on 6.2 LTS and 7.6 LTS
no problem with 8.7.24 so far

[2019-03-14 05:58] amtmich commented on #26
+1 - same in 6.2 LTS

[2019-03-14 07:19] andreasberniczki commented on #26
Same problem with 7.6 LTS

[2019-03-14 07:50] bmack commented on #26
Thanks for the reports. I will see how time fits to fix this for RTEHtmlArea + TYPO3 v8. However, this repository only supports RTEHtmlArea for TYPO3 v8 LTS, so any issues regarding TYPO3 Core 6.2 and 7.6 won't and can't be addressed here, as the code base of the extension has changed since TYPO3 6.2/v7 (e.g. no ExtJS anymore).

If you have an active ELTS for TYPO3 v6.2/v7, there is a fix underway

[2019-03-14 10:14] guppy42 commented on #26
To fix it for chrome 73:

Open the editor file:
for 6.2 it's /typo3/sysext/rtehtmlarea/htmlarea/htmlarea.js
for LTS 7 it's /typo3/sysext/rtehtmlarea/Resources/Public/JavaScript/HTMLArea/Editor/Editor.js

locate the line that says;
[code]

and change it to
[code]

That's it - 6.2 seems to automatically notice the file has changed and creates a new merged file containing the change.

In 7.2 the file

[2019-03-14 10:27] thegass commented on #26
8.7 picks up the change instant.
fix seems to work for 8.7

[2019-03-14 10:31] andreaskienast commented on #26
Many thanks to @guppy42, I was fiddling at the same line and wondered what happens here. I will create a PR for this.

[2019-03-14 10:40] guppy42 commented on #26
Seems the only way to change the `?bust=` is to either go into development mode or alter the typo3 version
TS_7/typo3/sysext/core/Classes/Core/SystemEnvironmentBuilder.php:88:        define('TYPO3_version', '7.6.32');

should be safe, but do so at your own peril ;)

[2019-03-14 10:51] kevinlieser commented on #26
Worked – thanks a lot!

[2019-03-14 11:02] hkarvasonis commented on #26
Thanks a lot for the fix! That worked as expected.

[2019-03-15 06:21] amtmich commented on #26
@guppy42 seems like this does not work for TYPO3 6.2. The code mentioned by you is not present in  /typo3/sysext/rtehtmlarea/htmlarea/htmlarea.js or anywhere else. Does anyone manage to fix that in TYPO3 6.2 ?

[2019-03-15 07:01] #26 closed

[2019-03-15 09:31] andreasfernandez opened #30 "JavaScript fix breaks Safari"
The JavaScript fix introduced with #26 breaks Safari.

[2019-03-15 09:49] ohader commented on #27
Please test PR #29

[2019-03-15 09:50] ohader commented on #16
Please test PR #29

[2019-03-15 10:11] prdt3e commented on #27
Many Thanks.
It works perfectly.
I suspected something similar.
That's actually defined in RichTextElement.php 654 - weird mistake

[2019-03-15 10:14] ohader commented on #27
Actually the definition in PHP is "correct" as well, however due to asynchronous processing via RequireJS it will happen that the resulting definition in HTML is executed too late.

[2019-03-18 09:45] stigfaerch commented on #26
Regarding 6.2 - the htmlarea.js is very different from the Editor.js file in LTS 7.
I cannot find the line mentioned, or anything that resembles for that matter. The 6.2 version seems to be ExtJs based.

[2019-03-18 09:52] amtmich commented on #26
Yes - that file is little different from the one in 7.x. You need to patch that line https://github.com/TYPO3/TYPO3.CMS/blob/TYPO3_6-2/typo3/sysext/rtehtmlarea/htmlarea/htmlarea.js#L2187 and change it to
`src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'about:blank;' : HTMLArea.editorUrl + 'popups/blank.html')`

[2019-03-18 10:10] stigfaerch commented on #26
Thanks! I also found it and hurried to deleted my post, but you were to quick and managed to answer me before it was gone :-)

I changed to this instead (according to the fix in issue #31 )
```src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? (Ext.isChrome ? 'about:blank;' : 'javascript: \'' + HTMLArea.htmlEncode(this.config.documentType + this.config.blankDocument) + '\'' ): HTMLArea.edi

[2019-03-18 13:16] erthi16 commented on #26
Hello to all!

I've tested successfully with my TYPO3 ver. 7 but with my version 6.2.40, nothing works... Is it possible to remove browser detection or at least the Chrome detection? Is it related to the browser signature?
Thank you all for your help!

Eric Thibault

[2019-03-18 18:33] manuelLink commented on #23
Hi Benni,

Just tried it in a blank, new 8.7.24 installation, same results.

PageTS:
`RTE.default.proc {
  exitHTMLparser_db = 1
  exitHTMLparser_db {
    tags.b.remap = strong
    tags.i.remap = em
  }
}`

this code worked before, doesn't work in TYPO3 8.7 (tags are not replaced anymore)
Extensions are stock 8.7.24, just added rtehtmlarea in version 8.7.1

Thanks for taking a look at it,
Manuel

[2019-03-19 12:21] slimco commented on #26
Thanks! For my Typo3 6.2 works rewrite code to
`src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'about:blank;' : HTMLArea.editorUrl + 'popups/blank.html')`

original code was:
`src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'javascript: \'' + HTMLArea.htmlEncode(this.config.documentType + this.config.blankDocument) + '\'' : HTMLArea.editorUrl + 'popups/blank.html')`

[2019-03-19 16:59] susannemoog commented on #26
FYI https://typo3.com/blog/typo3-7635-and-6241-elts-released

[2019-03-19 19:57] #16 closed

[2019-03-19 19:57] #27 closed

[2019-03-19 20:00] #30 closed

[2019-03-20 12:18] Boa2 commented on #26
How would this line look for Typo3 7? Like so?
`src: UserAgent.isGecko ? 'javascript:void(0);' : (UserAgent.isWebKit ? (UserAgent.isChrome ? 'about:blank;' : 'javascript: \'' + HTMLArea.htmlEncode(this.config.documentType + this.config.blankDocument) + '\'' ): HTMLArea.editorUrl + 'Resources/Public/Html/blank.html')`

or like so (found here: https://typo3.toaster-schwerin.de/typo3_german/2019_03/m

[2019-03-20 14:49] guppy42 commented on #26
@Boa2

you could just look at the diff for #31 : https://github.com/FriendsOfTYPO3/rtehtmlarea/pull/31/commits/02cc2beeb6069d8726f8120ffd82eb890c2c469e

[2019-03-20 15:07] Boa2 commented on #26
Thanks. This works.

[2019-03-22 22:39] bmack commented on #23
Hey Manuel,

I just checked this in my PageTS of an existing installation:

[code]

It basically remaps the "b" tag into a "benni" tag. And this is how it is stored in the database of my content element.

Now you also need to check if the problem is in your database, or if it's correct there, but the output in the frontend (which would be lib.parseFunc_RTE) also supports this tag and does not re-r

[2019-03-25 14:30] prdt3e opened #32 "<!DOCTYPE html Error"
Typo3: 8.7.20
rtehtmlarea: 8.7.2 @ohader
Browser: Chrome (73.0.3683.86)

It is reported:
- no

IE11/Edge: works fine.

The Editor show in editor-area:
[code]

Thanks

[2019-03-26 12:24] jpmschuler commented on #32
~~confirmed~~. This was a problem for rtehtmlarea:8.7.1 which was fixed with 8.7.2

Old comment:
Chrome 72.x works flawlessly, updating to 73.x breaks it (confirmed for WIN and OSX).
Can't find anything in the Chrome changelog which seems relevant, though.
![Bildschirmfoto 2019-03-26 um 13 17 44](https://user-images.githubusercontent.com/12411176/54996422-8c288f80-4fc9-11e9-9404-68dc93b30f71.png)

[2019-03-26 12:37] prdt3e commented on #32
Yes, that's exactly.

[2019-03-26 13:03] robartde commented on #32
Chrome 73.0.3683.86 & T3 8.7.24 & htmlarea 8.7.2 work fine. Cleared Browser cache?

[2019-03-26 13:13] baden32 commented on #26
Is there a chance that the problem will be fixed with Chrome version 74 or do we definitely need to patch rtehtmlarea js files?

[2019-03-26 13:37] bmack commented on #32
Hmm, good point. Maybe the JS file of RTEHtmlArea old version is cached in the browser...

[2019-03-26 15:10] runningnet commented on #26
This work for me in 4.7 (i know it is old)
File: typo3/sysext/rtehtmlarea/htmlarea/htmlarea.js Line about: 2214

I change this:
`src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'javascript: \'' + HTMLArea.htmlEncode(this.config.documentType + this.config.blankDocument) + '\'' : HTMLArea.editorUrl + 'popups/blank.html')`

with that:
`src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebK

[2019-03-26 15:26] erthi16 commented on #26
The 6.2.41 version worked on our second server... we are redoing the first one and retesting.

[2019-03-26 15:30] jpmschuler commented on #32
Indeed, that resolved the problem here. Sorry for the false confirmation. What a strange coincidence, didn't double check after seeing this issue, mea culpa.

[2019-03-26 16:04] doctotto commented on #26
This work for me in 4.5.40 (i know it is old)²
File: typo3/sysext/rtehtmlarea/htmlarea/htmlarea.js Line : 2224
from:
src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'javascript: \'' + HTMLArea.htmlEncode(this.config.documentType + this.config.blankDocument) + '\'' : HTMLArea.editorUrl + 'popups/blank.html')

to:
src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? (Ext.isChrome ?

[2019-03-27 18:15] crealistiques commented on #26
I can confirm. For me an update to latest ELTS version 6.2.41 worked as a fix!

[2019-03-27 19:10] erthi16 commented on #26
Message from doctotto (and tested on at least one site in our ecosystem):

This work for me in 4.5.40 (i know it is old)²
File: typo3/sysext/rtehtmlarea/htmlarea/htmlarea.js Line : 2224
from:
src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'javascript: '' + HTMLArea.htmlEncode(this.config.documentType + this.config.blankDocument) + ''' : HTMLArea.editorUrl + 'popups/blank.html')
to:
src

[2019-03-28 16:12] cactysman commented on #26
Would be nice if someone hit up the [Chromium issue tracker](https://bugs.chromium.org/p/chromium/issues/list) and created a new issue - or contributed to one if one already exists that might be related to this problem.

This way we're not just spinning up workarounds but they can actually investigate and resolve that issue.

[2019-03-28 22:09] Turbotailz commented on #26
This is also a problem in v4 - don't ask, client won't pay to upgrade

[2019-03-29 07:34] andreaskienast commented on #26
I don't think this is a bug in Blink rendering engine, but a security change that breaks our legacy code base, which is absolutely fine.
I don't consider the fix(es) a workaround, but necessary changes to let HtmlArea work with the latest versions of the rendering engine.

[2019-03-29 17:31] responseinformationsdesign opened #33 "Localization lost since version 8.7.x"
Since version 8.7.x the user interface of the editor is  just english as the typo3 translation server only delivers language files for the settings in the extension manager.

[2019-04-01 10:43] wolfgang007 commented on #26
Is there a fix for 8.7 already?

[2019-04-02 06:36] mmasmoudi commented on #26
I'm looking for a fix for Typo3 8.7 too.

[2019-04-02 06:54] andreaskienast commented on #26
You should be able to update the extension either from TER or packagist.

[2019-04-02 07:22] sevenflip commented on #26
Link to the chromium bugreport:
https://bugs.chromium.org/p/chromium/issues/detail?id=946984

Add ⭐️ to push it (sign in & click in the top left corner)

[2019-04-02 07:23] mmasmoudi commented on #26
@andreasfernandez Yes i did that already, i upgraded to version 8.7.2 but this didn't resolve the problem.
--

[2019-04-02 07:39] andreaskienast commented on #26
@mmasmoudi I fail to reproduce the issue after upgrading to 8.7.2. Did you clear your browser caches after installing the update?

[2019-04-02 07:47] mmasmoudi commented on #26
@andreasfernandez Sorry, forget clear cache from browser after the TER update, problem is resolved, Thank you !

[2019-04-02 14:02] Kai-Petersen commented on #26
After installing the Patch i can use the RTE, but it's not possible to save an empty RTE. Each time i save the content element, a linebreak is added too the textarea an in the frontend i get an empty p tag for every linebreak. In WYSIWYG-MODE, the linebreaks not shown, only in TEXT-MODUS they are visible.

[2019-04-03 13:42] markenwirt commented on #32
Hey everyone,
we have a lot of customers with a TYPO3 7.6.X-Version and we tried to update the extension to 8.7.2 but it doesn't work. Do you have another fix for that? Maybe the codeline where we can change something and it works than? At the moment about 20 customers can't change anything in there TYPO3s.

[2019-04-03 13:55] bmack commented on #32
@markenwirt you can't use the standalone extension which only suits TYPO3 v8 with TYPO3 v7. For TYPO3 v7 the ELTS program is recommended as there is a fix in place already.

Otherwise, you can see other tickets where this dicussion took place already:
https://github.com/FriendsOfTYPO3/rtehtmlarea/issues/26

For TYPO3 v8: Update the extension to rtehtmlarea 8.7.2 and clear browser caches

[2019-04-03 13:55] #32 closed

[2019-04-03 13:55] bmack commented on #23
@manuelLink any news here?

[2019-04-04 10:13] tommysack commented on #26
@runningnet Hy, In my version (4.5 very very old, i know) I have replaced the code in htmlarea.js
but it returns every time the same old code in typo3temp/compressor/htmlarea_cumulative_***_compressed-***.js
Have you delete some files after the fix? Also if I delete the compressed file it create the same htmlarea_cumulative_***_compressed-***.js with old code..

[2019-04-04 10:53] doctotto commented on #26
Yes you should clear the RTE Cache (backend top right lighting bolt icons)

[2019-04-09 14:40] tommysack commented on #26
Ok thanks, it works

[2019-05-07 08:35] DrillSergeant opened #34 "File links in Edge not working (TYPO3 v7.6.35)"
Hello guys

Using Edge, it is not possible to create file-links in RTE fields. We can reproduce this in all of our TYPO3 7.6.35 instances unsing Edge 17.17134

When clicking a file in the Link-Wizard Popup, we see a JS error "SCRIPT5022: HierachyRequestError" in the JS-Console:
![screenshot-2](https://user-images.githubusercontent.com/883552/57285560-bf276e00-70b3-11e9-9808-9a3c106b5934.png)

What

[2019-05-07 08:55] bmack commented on #34
Hey @DrillSergeant ,

this repository is for HTMLarea v8 which is only compatible with TYPO3 v8 LTS. For TYPO3 v7 RTEHtmlArea was included in TYPO3 Core Repository with the latest public version 7.6.32, so 7.6.35 sounds like a version delivered by the ELTS program of typo3.com. Please contact TYPO3 GmbH for further assistance.

Thanks!
Benni.

[2019-05-07 09:31] DrillSergeant commented on #34
Thanks I will do so

[2019-05-07 09:31] #34 closed

[2019-05-09 08:40] p-meyer opened #35 "Custom table class does not work in TYPO3 v8.7"
I can choose my custom table class in the table property popup, but my choose will be ignored. When I use the Button "toogle text modus" I dont see the custom table class in the markup. Also in Frontend there only be the default class 'contenttable'.

TYPO3 v8.7
rtehtmlarea 8.7.2

[2019-05-16 09:43] sypets opened #36 "Please add public repo to https://extensions.typo3.org"
The link to the public repo is missing on https://extensions.typo3.org/extension/rtehtmlarea/.

Having it makes it easier to find this public repo and contribute.

[2019-05-16 09:54] sypets opened #37 "This extension contains documentation in Readme.rst and Documentation folder"
I realize this is happening with a lot of extensions but I find it a little unfortunate.

People who visit GitHub see the Readme. People who visit [docs.typo3](https://docs.typo3.org/typo3cms/extensions/rtehtmlarea/) see the rendered documentation in `Documentation`. Which is up-to-date? Which should people contribute to.

What some other extensions do, is just provide a short Readme and then link

[2019-06-05 13:59] BeSchAu commented on #26
Any chance to get this problem fixed in version 4.2.8?
We have this problem on two remaining websites which currently get redesigned.
But i have to get it working for about half an year.

Can anyone tell me which code has to be replaced?

[2019-06-06 09:10] BeSchAu commented on #26
@Turbotailz
Did you get it fixed for this version? We have version 4.2.8 and the fix doenst work for this version :(

[2019-06-06 22:38] Turbotailz commented on #26
@BeSchAu can't remember, sorry. I no longer work for that agency.

[2019-06-07 05:34] BeSchAu commented on #26
@runningnet @erthi16 @guppy42
Do you have any infos how to get this fixed in version 4.2.8?

[2019-06-18 11:21] pisagatos commented on #26
@BeSchAu

Try this line. I changed in Typo3 v. 4.3.3 and it works:
_\httpdocs\typo3\sysext\rtehtmlarea\htmlarea\htmlarea.js_

831 (Original) - : `iframe.setAttribute("src", (HTMLArea.is_opera?_typo3_host_url:"") + _editor_url + "popups/blank.html");`

831 (New line) + : `iframe.setAttribute("src", (HTMLArea.is_chrome? "javascript:void(0);" : (HTMLArea.is_safari? 'about:blank;' : _editor_url + 'pop

[2019-06-20 13:31] katywings commented on #17
The proposed change regarding "I fixed it by changing line 229 to..." worked for me too 👍 , thanks for your details in this issue :D

[2019-07-04 11:32] sheydin commented on #26
TYPO3 7.6.32 & Chrome 75 here. Tried every solution and deleted Cached on each try. Editor still outputs Doctype and Console throws:
`[HTMLArea.CSS.Parser::parse]: The stylesheets could not be parsed. Reported error: Empty stylesheets array or missing linked stylesheets`

Please help.

[2019-07-16 17:52] Abdull commented on #15
Related: https://github.com/netresearch/t3x-rte_ckeditor_image/issues/25

[2019-08-06 09:18] Norcoen commented on #26
After updating safari the bug seems to be back under 7.6.38

[2019-08-12 07:17] paul-keller commented on #26
I can confirm problem with safari. And the chrome patch of course does not work for safari.

[2019-08-12 07:21] paul-keller opened #39 "RTE with Safari TYPO3 7.6"
With new Safari version RTE is not working in TYPO3 7.6 anymore.
Same Bug as with Chrome, see: https://github.com/FriendsOfTYPO3/rtehtmlarea/issues/26

[2019-08-12 09:51] p-meyer commented on #39
Same Problem in TYPO3 v8.7.27 with rtehtmlarea v8.7.2

[2019-08-16 05:56] franzkugelmann commented on #26
please try the patch suggested by @julianstefanov in https://github.com/FriendsOfTYPO3/rtehtmlarea/pull/31#commitcomment-34496546

[2019-08-17 11:20] julianstefanov commented on #39
You can use the patch from here: https://github.com/FriendsOfTYPO3/rtehtmlarea/pull/38

[2019-08-21 13:41] paul-keller commented on #39
Does not work for me. RTE still does not work in Safari

[2019-08-27 08:13] stucki commented on #39
see #40 / https://github.com/FriendsOfTYPO3/rtehtmlarea/pull/40/commits/a20e23445ca760ba94ed06dca05266b6e22a25fb

This is a forward-port of the solution which is included in the 7.6.39 ELTS release.

[2019-08-30 09:46] dmitryd commented on #33
Probably related: #25

[2019-08-30 10:27] dmitryd commented on #33
Problem is not with the extension but with the translation pack on the translation server.

Here is how rte language files structure looks like in the extension:

![rte_is_0](https://user-images.githubusercontent.com/306133/64013924-924b0b00-cb29-11e9-9073-7e9f5d684730.png)

Here is how translation pack looks like when fetched from the translation server:

![rte_is_1](https://user-images.githubuse

[2019-10-21 16:28] xperseguers commented on #33
The problem is that this extension is not a system extension anymore! I wonder though why it is packaging for version 8 then.

Once understood I will have to fetch it from TER instead, just as usual extensions. And this will give possibly some work to try to recover translations from before. And it will live twice in system, once as a system extension, once as a standard extension...

[2019-10-21 16:33] xperseguers commented on #33
OK, filemapping with TYPO3 v8 was created long ago before it got extracted to TER. It was never updated since then.

[2019-10-21 16:36] xperseguers commented on #33
We now have a fundamental problem! Version-specific l10n package is supported since TYPO3 v7 and thus naturally only for system extensions.

Now, since this is not a system extension anymore, we need to drop the version information from the package name (see https://translation.typo3.org/l10n_ter/r/t/rtehtmlarea-l10n/). But this means that the target package name will effectively override the supp

[2019-10-21 16:42] xperseguers commented on #33
I currently see only one solution! And this is implementing the TYPO3 hook which allows to override the URL where to fetch a translation pack. I implemented it back then in order to support 3rd-party localization servers. Here this should be implemented in the version from TER and look for another zip scheme, which I will need to generate differently for that specific extension.

Since it only tar

[2019-10-21 16:57] tmotyl commented on #33
@xperseguers can't we add the LL files here directly in the repository as a PR?

[2019-10-21 17:08] xperseguers commented on #33
@tmotyl that's of course a solution, but this means you include the current state of localization for basically all 50 languages and then you either need to update if needed or consider localizations blocked and never updated again. And the project on Pootle stays and still works for TYPO3 up to v7.

[2019-11-28 15:10] onlinenow commented on #35
The select field for the css classes is missing the name attribute. Thats the reason the class cant be assigned to the tabel. Apply the changes in the pull request and this should work again.

[2019-11-29 06:56] p-meyer commented on #35
Fine. It works for me.

[2019-12-25 15:13] Chaoste opened #42 "Make Documentation Accessible"
Hey guys,

thanks for carrying on this project so far!

When trying to find the documentation for this extension, one may click on "Extension Manual" at the [extension page](https://extensions.typo3.org/extension/rtehtmlarea/) which is currently referring to a not existing documentation (probably from the original project).

The new link should be [https://docs.typo3.org/p/friendsoftypo3/rtehtmlar

[2019-12-25 21:25] bmack commented on #42
@liayn could you update the link on TER linking to the right docs?

[2019-12-27 22:23] liayn commented on #42
@bmack Relayed via Slack doc-team channel, because I don't know how to do that. 🤷‍♂

[2019-12-29 11:57] marble commented on #42
https://typo3.slack.com/archives/C028JEPJL/p1577620283011500?thread_ts=1577485344.010800&cid=C028JEPJL

[2020-02-01 23:02] luzernervogel commented on #26
@guppy42 Thanks a lot!

For me (TYPO3 6.2.31 / rtehtmlarea 6.2.0) it was the line

`src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'javascript: \'' + HTMLArea.htmlEncode(this.config.documentType + this.config.blankDocument) + '\'' : HTMLArea.editorUrl + 'popups/blank.html')`

and I changed it to

`src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'about:blank;' : HTMLArea.edit

[2020-02-27 15:00] constantin-iliescu commented on #26
@crealistiques

Can you confirm this is working on Safari also?

[2020-03-18 08:33] liayn commented on #9
Are you really intending to still use this extension in v9+?

[2020-03-24 19:15] bernhardberger commented on #26
This is still (or again?) an issue in Chrome Version 80.0.3987.149 (Official Build) (64-bit)...

[2020-03-24 21:39] liayn commented on #26
@bernhardberger I don't know (yet), but please be so kind and open a new issue with your problem and only reference closed issues. Thanks.

[2020-03-24 21:49] liayn commented on #42
Again checked the current state and requested support from the docs team to get this sorted out, finally.

[2020-03-24 22:31] liayn commented on #37
What did you identify as documentation in the readme here? For me this rather reads like a general project description.

[2020-03-24 22:39] liayn commented on #39
@paul-keller Is this fixed with the information from above?

[2020-03-24 22:42] liayn commented on #36
Done.

[2020-03-24 22:42] #36 closed

[2020-03-24 22:44] #35 closed

[2020-03-24 22:54] liayn commented on #25
closing as duplicate of #33

[2020-03-24 22:54] #25 closed

[2020-03-24 22:56] liayn commented on #15
This extension is marked as obsolete. We are not going tackle this issue anymore.

[2020-03-24 22:56] #15 closed

[2020-03-24 22:57] liayn commented on #7
Is this still an issue?

[2020-03-24 23:02] #17 closed

[2020-03-24 23:06] liayn commented on #5
Which TYPO3 version are you using?

[2020-03-24 23:34] liayn commented on #23
Closing due to lack of feedback.

[2020-03-24 23:34] #23 closed

[2020-03-25 07:27] paul-keller commented on #39
@liayn Problem is solved. RTE in Safari is working correctly with 7.6.40

[2020-03-25 07:27] #39 closed

[2020-03-25 09:48] mmirsch commented on #5
I am not sure, maybe TYPO3 7.6

[2020-03-25 09:55] liayn commented on #5
This is rather strange then, because the `t3://page` syntax came with TYPO3 version 8.3

[2020-03-25 10:07] mmirsch commented on #5
Ok, I found it.
It was in TYPO3-extension rtehtmlarea-8.7.0.

[2020-04-03 06:02] stephaniestief opened #43 "Editor not working in latest Safari and TYPO3 8.7.32"
Editor isn't loading in latest Safari Version with TYPO3 8.7.32

![image](https://user-images.githubusercontent.com/42339404/78329268-82911a80-7581-11ea-9594-651a11ce23fd.png)

[2020-04-03 07:05] liayn commented on #43
Please post the version of Safari you are using. This is by the way not related to the TYPO3 version at all, simply to Safari itself.

[2020-04-03 07:08] liayn commented on #43
Can you please download the lastest version here from git and try if it is still a problem?
There has been a fix with #26 which might solve this one too.

[2020-04-03 07:19] liayn commented on #43
Just got a confirmation that latest master has this already fixed. Will create a release now. Should be available on TER shortly.

[2020-04-03 07:19] #43 closed

[2020-04-03 09:15] stephaniestief commented on #43
Works perfectly! Thank you for the quick support.

[2020-04-03 10:16] liayn commented on #5
I released version 8.7.3 today. can you please verify if this is still a problem in the latest version?

[2020-04-03 10:53] mmirsch commented on #5
The problem still exista, as you didn't change the javascript file.

Here the patch again:

Index: www.local.typo3.org/typo3conf/ext/rtehtmlarea/Resources/Public/JavaScript/RteLinkBrowser.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- www.local.typo3.org/typo3conf/ext/rtehtmlarea/Re

[2020-04-03 11:01] liayn commented on #5
@mmirsch Thanks for the info. Would you mind creating a Pull-Request instead of posting it inline in the comments?

[2020-04-03 11:03] mmirsch commented on #5
Ok, how do I do that?

[2020-04-03 11:20] mmirsch commented on #5
Ok, found a way to do the pull request abd I hope I did it correctly.

[2020-04-03 12:09] liayn commented on #5
Do you see the same problem if you set such a link in normal link field (e.g. header link)?

[2020-04-03 17:17] mmirsch commented on #5
I cannot even activate this in TYPO3 8.7.
Do you know, if it's possible an how?
i tried:

TCEMAIN.linkHandler.page {
    configuration {
        pageIdSelector.enabled = 1
    }
}

In page tsconfig, but when I checked source code I found that this option is only working for recordlists.

[2020-04-03 20:20] liayn commented on #5
You are right. I looked up the code now too and this feature is indeed RTE-only.

Your fix is working as expected, but actually I consider this a core-bug, which needs to be fixed for any RTE. The appropriate place would be this:
https://github.com/TYPO3/TYPO3.CMS/blob/master/Build/Sources/TypeScript/recordlist/Resources/Public/TypeScript/PageLinkHandler.ts#L53

I'll create a patch for core, but s

[2020-04-03 20:41] liayn commented on #5
Will continue in https://forge.typo3.org/issues/82942

[2020-04-03 20:41] #5 closed

[2020-04-23 15:26] astehlik commented on #7
I tested with the latest TYPO3 8 version and the latest release of rtehtmlarea and I'm afraid the issue sill exists :(

[2020-04-23 15:58] liayn commented on #7
Thanks for the update. Can you provide a patch maybe, since you are already familiar with the details?

[2020-04-23 16:05] liayn commented on #42
Related issue:
https://github.com/TYPO3-Documentation/T3DocTeam/issues/126

[2020-04-23 16:07] liayn commented on #42
The link now points to v8.7, which is not master, but better than 404

[2020-04-23 16:07] #42 closed

[2020-04-23 16:07] liayn commented on #37
@sypets ping

[2020-04-23 16:36] astehlik commented on #7
I'm not really sure how I can get a localized version of the file metadata in the Backend context. If you can help me with that, I think I can create a patch.

[2020-04-24 04:58] #37 closed

[2020-10-19 10:44] stat1x opened #45 "Wrong path resolution for skin files"
Hi,

In RichTextElement class the skinFilename and skinDirectory are wrongly set. If your typo3 installation is in a subdirectory the paths are wrong so the cache files are empty.

I fixed it by setting the path manually like this :
[code]

[2021-06-11 10:33] m41r opened #46 "After Chrome Update to `Version 91.0.4472.101` the RTE fields in the Backend don't work anymore"
After Chrome update to `91.0.4472.101` the RTE fields in the Backend don't work anymore and crash with an exception.

Affected Version: `Typo3 v7.6.32` (maybe any bugfix version)
Affected File: `/typo3/sysext/rtehtmlarea/Resources/Public/JavaScript/HTMLArea/Editor/Iframe.js`
Exception:
[code]
Did some of those fixes caused this?
https://chromereleases.googleblog.com/2021/06/stable-channel-update-f

[2021-06-11 12:24] m41r commented on #46
For the record, this happens maybe because some "Same Origin" stuff and Chrome changed something in that way... idk.

Source: https://developer.mozilla.org/en-US/docs/Web/API/HTMLIFrameElement/contentDocument

[2021-06-11 13:27] paavo commented on #46
Looks like the Issue was already fixed some times ago in ELTS 7.6.

[2021-06-11 13:28] paavo commented on #46
I have a pretty similar Bug in Safari 14.1.1 on OS X 11.4.

![Screen Shot 2021-06-11 at 15 28 13](https://user-images.githubusercontent.com/1118783/121693727-af1bbd00-cac9-11eb-92b0-d8c763ea84f8.png)

[2021-06-14 06:36] m41r commented on #46
@paavo That sounds more like #26 ... for me it looks different:

![image](https://user-images.githubusercontent.com/14954406/121849256-6a6f6c00-cceb-11eb-80b2-01d173b89098.png)

[2021-06-14 08:49] apgl64 commented on #46
Hello !
Do a backup of your file : Resources/Public/JavaScript/HTMLArea/Editor/Editor.js
Update this file by the last on : https://github.com/FriendsOfTYPO3/rtehtmlarea/blob/b7ba8bf46e0e7266e8b01afe2551de73186f074f/Resources/Public/JavaScript/HTMLArea/Editor/Editor.js
Clear Caches
It works for me on TYPO3 7.6

[2021-06-14 09:12] apgl64 commented on #46
For TYPO3 6.2 : Go to /typo3/sysext/rtehtmlarea/htmlarea and edit file "htmlarea.js"
Go to line 2187 or find line begin by `src: Ext.isGecko`
Replace
`src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? 'javascript: \'' + HTMLArea.htmlEncode(this.config.documentType + this.config.blankDocument) + '\'' : HTMLArea.editorUrl + 'popups/blank.html')`
or
`src: Ext.isGecko ? 'javascript:void(0);'

[2021-06-14 11:38] m41r commented on #46
@apgl64 i can confirm, that snippet works perfectly, thank you very much! 🚀

i close this issue, because this won't be fixed for Typo3 v7 branch anyway ... for all the others with this problem, i hope this helps you.

[2021-06-14 11:38] #46 closed

[2021-06-14 12:35] stefanodanieli opened #47 "Problem With Firefox and Edge"
Hi,
 would like to report the following bug.
I have installed the extension rtehtmlarea.

I want to edit a standard text element. When the wysiwyg editor is shown, i can see the following error :

Uncaught TypeError: Cannot read property 'documentElement' of null
at Iframe.initializeIframe (Iframe.js?bust=cb447f8edb30784c674c7418ad59e08d5e85f7c9:202)
at Iframe.render (Iframe.js?bust=cb447f8edb3078

[2021-06-14 14:11] liayn commented on #46
@m41r If you provide a PR, I'll happily merge it

[2021-06-14 14:25] m41r commented on #47
duplicate of #46

[2021-06-14 15:04] m41r commented on #46
@liayn you mean for Typo3  `v8`? Well that's not necessary, i think, because this Repo has already the Bugfix merged, namely this line:
https://github.com/FriendsOfTYPO3/rtehtmlarea/blob/b7ba8bf46e0e7266e8b01afe2551de73186f074f/Resources/Public/JavaScript/HTMLArea/Editor/Editor.js#L217

For my Typo3 v7 instance, i just patched it via `composer patches` and it worked ... no merge needed.
Or did I u

[2021-06-15 13:16] #47 closed

[2021-06-15 13:16] liayn commented on #46
Great then.

[2021-06-15 14:00] wikafi opened #48 "RTE not working again on typo3 V6 AND 7 since June 2021"
Hello,
the problem with RTE in typo3 6 and 7 is present again.
on Chrome it's since the last version but it also bugs on firefox and Safari, edge, ...
it makes the sites unusable
![Snip20210615_2](https://user-images.githubusercontent.com/46966266/122066168-cbce3280-cdf2-11eb-999d-06c5af563042.png)
![Snip20210615_1](https://user-images.githubusercontent.com/46966266/122066172-ccff5f80-cdf2-11eb-93

[2021-06-15 15:06] bnf opened #49 "Editor not loading in Google Chrome v91"
Edit works with Google Chrome v90, but is not loading with v91.

Editor is not loading and only shows `The editor is being loaded. Please wait...`.

Error in JavaScript console:

[code]

`iframe.contentDocument` is null in the `!iframe.contentDocument.documentElement` check:
https://github.com/FriendsOfTYPO3/rtehtmlarea/blob/b7ba8bf46e0e7266e8b01afe2551de73186f074f/Resources/Public/JavaScript/HTML

[2021-06-15 15:12] bnf commented on #49
Sorry, didn't test with the BUGFIX in a20e23445ca760ba94ed06dca05266b6e22a25fb

[2021-06-15 15:12] #49 closed

[2021-06-15 15:21] bnf commented on #48
See https://github.com/FriendsOfTYPO3/rtehtmlarea/issues/49 – I had the same problem and used the "older" Google Chrome "about:blank" fix and not yet the newer `''` iframe source, as fixed in https://github.com/FriendsOfTYPO3/rtehtmlarea/commit/a20e23445ca760ba94ed06dca05266b6e22a25fb

Are you sure you are using the most recent rtehtmlarea version 8.7.3, or are you still using 8.7.2?

[2021-06-15 15:29] wikafi commented on #48
I'm talking about the versions of typo3 V6 (6.2.25) and V7 (7.6.32)
As far as I know, you can't use a 8XX version on a typo3 V6 or V7
moreover it concerns also the last version of chrome, that functioned at home also before the last update

[2021-06-15 15:47] wikafi commented on #48
I have applied patch #49 and it works on version 7
I will test on version 6...
Thanks already...

[2021-06-15 16:05] wikafi commented on #48
I can't find the files to modify in version 6
can you help me?
![Uploading Snip20210615_4.png…]()

[2021-06-16 07:01] bnf commented on #48
No don't apply my (needlessly complex) patch from #49 (I only mentioned that because I used an older version like you did), please apply https://github.com/FriendsOfTYPO3/rtehtmlarea/commit/a20e23445ca760ba94ed06dca05266b6e22a25fb which is already part of the rtehtmlarea 8.7.3 release instead.

The changes can be applied to TYPO3 v7 in `typo3/sysext/rtehtmlarea/Resources/Public/JavaScript/HTMLArea

[2021-06-16 07:14] wikafi commented on #48
Perfect, Thank you very much!
For those who are interested, the patch is at line 2187

for 6.2 it's /typo3/sysext/rtehtmlarea/htmlarea/htmlarea.js

Here is what needs to be changed

//src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit ? about:blank;' : HTMLArea.editorUrl + 'Resources/Public/Html/blank.html')

src: Ext.isGecko ? 'javascript:void(0);' : (Ext.isWebKit || Ext.isChrome ? '' : HTM

[2021-06-16 07:49] #48 closed

[2021-06-18 10:26] liayn commented on #48
A ready-made patch can be found here: https://reelworx.at/blog/detail/how-to-fix-rte-in-typo3-7-lts-for-chrome-73/

[2021-06-22 07:05] MarkusGehrig opened #50 "rtehtmlarea isn't working on newest Chrom version"
Hey Everyone

The htmlarea isn't working on the newest Chrom version 91.0.4472.114. Check the last digest when testing, with version 91.0.4472.77 it is still working.

It looks like that the htmlarea tries to load, but gets into an endless loop for the redactor.

TYPO3 Version is 8.7.36 / 8.7.40 and htmlarea version is 8.7.3

[2021-06-22 08:15] fheyer commented on #50
Yes, i can confirm that Chrome ver. 91.0.4472.106 on Mac already has the problem. Using HTMLArea 8.7.3 on Typo3 8.7.32.

[2021-06-23 07:17] MarkusGehrig commented on #50
Can some one please create a new release?

[2021-06-23 07:20] liayn commented on #50
Did so yesterday

[2021-06-23 07:31] #50 closed

[2021-07-06 05:10] melaniemedialight commented on #48
Hi !
I know that TYPO3 4.5 is very old but I have a site using this version.

Is there someone can help me to patch it, please ?

[2022-09-02 07:58] bj0hn opened #54 "Missing documentation: options from EXT:rtehtmlarea still work for rte_ckeditor but documentation was not transferred."
The options to configure the RTE from EXT:rtehtmlarea are still there and can be used with EXT:rte_ckeditor, but the documentation was not transferred.
Infos like
https://docs.typo3.org/p/friendsoftypo3/rtehtmlarea/main/en-us/Configuration/PageTsconfig/classesAnchor/Index.html
and more!

Is there a reason for this?

[code]

[2022-09-22 12:55] liayn commented on #54
Definitely no reason I could remember.

I guess it should be added then somewhere here
https://docs.typo3.org/c/typo3/cms-rte-ckeditor/main/en-us/Configuration/Reference.html#config-ref
or here
https://docs.typo3.org/m/typo3/reference-tsconfig/main/en-us/PageTsconfig/Rte.html#pagetsrte

But this configuration should be done in YAML nowadays, so not sure if this old configuration really works as ex